.expense__list_wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 .5rem;
    border-radius: .25rem;
}

.expense__list_wrapper:hover {
    background-color:  rgba(118, 175, 198, 0.1);
}