.transaction__page_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;

  @media screen and (max-width: 1200px) {
    padding-bottom: 2rem;
  }
}

.categories__container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media screen and (max-width: 1200px) {
    width: 60%;
    gap: .5rem;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    gap: .5rem;
  }
}

.category__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 0;

  @media screen and (max-width: 1200px) {
    padding-top: 0;
  }

  &_icon {
    color: white;
    font-size: 2.5rem;

    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }
  }

  &_icon_wrapper {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @media screen and (max-width: 1200px) {
      width: 60px;
      height: 60px;
    }
  }

  &_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    text-align: center;
    font-size: 1rem;

    @media screen and (max-width: 1200px) {
      font-size: .8rem;
      width: 80px;
    }
  }
}

.subcategory__wrapper {
  width: 35%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height .35s ease;

  @media screen and (max-width: 1200px) {
    width: 75%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.subcategory__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}