.transaction__page_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  @media screen and (max-width: 1200px) {
    padding-bottom: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}