$app-bs-light: #f8f9fa;
$app-bs-light-general: #f1f2f7;

$app-bs-border: #dee2e6;

$app-bs-primary: #174699;
$app-bs-primary-hover: #143c82;

$app-bs-danger: #dc3545;
$app-bs-danger-hover: #b02a37;

$app-bs-warning: #ffc107;
$app-bs-warning-hover: #ffca2c;

$app-bs-dark: #212529;
$app-bs-dark-hover: #373b3e;

$app-bs-secondary: #6c757d;
$app-bs-secondary-hover: #565e64;
