.expense__details_modal {
    width: 20%;
    @media screen and (max-width: 1200px) {
        width: 90%;
    }
}

.category__modal {
    width: 30%;
    @media screen and (max-width: 1200px) {
        width: 90%;
    }
}

.expenses__total_modal {
    width: 30%;
    @media screen and (max-width: 1200px) {
        width: 90%;
    }
}

.expenses__subcategory_modal {
    width: 30%;
    @media screen and (max-width: 1200px) {
        width: 90%;
    }
}