//.burger__container {
//    position: fixed;
//    top: 0;
//    left: -100%;
//    width: 300px;
//    height: 100%;
//    background-color: white;
//    z-index: 200;
//    display: flex;
//    flex-direction: column;
//    transition: .2s ease-in;
//
//    &_open {
//        left: 0;
//    }
//}
//
//.burger__layout {
//    //display: none;
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-color: rgba(0, 0, 0, 0.6);
//    z-index: -1;
//    opacity: 0;
//    transition: .2s ease-in;
//
//    &_open {
//        opacity: 1;
//        z-index: 150;
//        //display: block;
//    }
//}
.burger__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 200;
    flex-direction: column;
    transition: transform 0.2s ease-in;
    transform: translateX(-100%) translateZ(0);
    will-change: transform;
    //pointer-events: none;
    //display: none; // Скрываем по умолчанию

    &_open {
        transform: translateX(0) translateZ(0);
        //pointer-events: auto;
        //display: flex; // Показываем когда открыто
    }
}

.burger__layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 150;
    //opacity: 0;
    //transition: opacity 0.2s ease-in;
    //pointer-events: none;
    transform: translateZ(0);
    will-change: opacity;
    display: none; // Скрываем по умолчанию

    &_open {
        //opacity: 1;
        //pointer-events: auto;
        display: block; // Показываем когда открыто
    }
}